

.sectionActi{
    padding: 15px;
}

.sectionActi h2{
    margin-bottom: 50px;
}

.actList{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "a b c d"
        "a e c f"
    ;
}

.actCardtemplate{
    background-color: #fff;
    border-radius: 25px;

    box-shadow: 0px 5px 20px #999;
}

.deuxiemeCol{
    flex-direction: column;
}


.actCard1{
    height: 490px;
    grid-area: a;
    margin: 0 20px 0 0;
}

.actCard2{
    height: 260px;
    grid-area: b;
    margin: 0 20px 20px 20px;
}

.actCard3{
    height: 190px;
    grid-area: e;
    margin: 20px 20px 0 20px;
}

.actCard4{
    height: 490px;
    grid-area: c;
    margin: 0 20px;
}

.actCard5{
    height: 260px;
    grid-area: d;
    margin: 0 0 20px 20px;
}

.actCard6{
    height: 190px;
    grid-area: f;
    margin: 20px 0 0 20px;
}

.actCard1:hover, .actCard2:hover, .actCard3:hover, .actCard4:hover, .actCard5:hover, .actCard6:hover{
    transform: scale(1.03);
    cursor: pointer;
    transition: .2s ease-out;
    color: #0065FC;
}

.actCard1 h3, .actCard2 h3, .actCard3 h3, .actCard4 h3, .actCard5 h3, .actCard6 h3{
    margin-left: 15px;
}

.actCard3 h3, .actCard6 h3{
    margin-top: 10px;
}

.actCard4 h3{
    margin-top: 5px;
}


.img img{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    object-fit: cover;

    height: 100%;
    width: 100%;
}

.imgVoiliers{
    width: 100%;
    height: 90%;
}

.imgFort{
    width: 100%;
    height: 80%;
}

.imgParc{
    width: 100%;
    height: 90%;
}

.imgGarde{
    width: 100%;
    height: 80%;
}

.imgLongchamp{
    width: 100%;
    height: 80%;
}


